/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf5f8;
    color: #333;
    text-align: center;
}

/* Page Title */
h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #d81b60;
}

/* Form Container */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #d81b60;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Form Groups for Two-Column Layout */
.form-group {
    flex: 1 1 calc(50% - 20px); /* Two columns with spacing */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 1em;
    color: #d81b60;
    margin-bottom: 8px;
    font-weight: 700;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #d81b60;
    outline: none;
}

/* Button */
button {
    padding: 12px 25px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: #d81b60;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 0;
    width: 100%;
}

button:hover {
    background-color: #c2185b;
}

/* Prediction Result */
#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #d81b60;
    font-weight: bold;
}

#prediction-result{
    max-width: 800px;
    font-size: 1.2em;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}


/* Responsive Design */
@media (max-width: 600px) {
    form {
        flex-direction: column;
        padding: 15px;
        max-width: 90%;
    }

    .form-group {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 2em;
    }

    button {
        font-size: 1em;
    }
}
