<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Diagnosis</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Breast Cancer Diagnosis</h1>
    <form id="prediction-form">
        <label for="parameters">Enter Parameters (comma-separated):</label>
        <input type="text" id="parameters" required>
        <button type="submit">Predict</button>
    </form>
    <h2 id="result"></h2>
</body>
<script src="../static/js/script.js"></script>

</html>
